<div id="manager">
  <div class="container">
    <nav class="navbar navbar-expand bg-white fixed-top ">
      <a class="navbar-brand" href="/">
        <img src="/images/logo.png" width="100" height="35" class="d-inline-block align-top logo" alt="">
      </a>
      <ul class="navbar-nav">
        <li><a href="#">FEATURES</a></li>
        <li><a href="#footer">CONTACT</a></li>
      </ul>
    </nav>
    <div class="row addTaskRow">
      <div class="col-8 offset-2">
        <h1>Welcome, {{Users}} !</h1>
        <br>
        <h4>What would you like to do?</h4>
        <hr>
        <br>
        <a href="#taskIcon"><button class="btn btn-default">VIEW TASKS</button></a>
        <a href="#taskZoom"><button class="btn btn-default">ADD TASK</button></a>
        <a href="#addUser"><button class="btn btn-default">ADD USER</button></a>
        <br><br><br><br>
      </div>
      <div class="container">
        <div class="row taskRow" id="taskIcon">
          <div class="col-md-4 col-xs-1 managerCol">
            <div class="card" style="width: 18rem;">
              <img src="images/daily.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Your Tasks</h5>
                <p class="card-text">List of tasks that must be completed by the end of day.</p>
              </div>
              <ul id="task-list" class="list-group list-group-flush list-group">
                {{#each Tasks}}
<<<<<<< HEAD

=======
                 {{#if this.UserId}}
>>>>>>> 9e297e7b0ea868e5d157f572c1560e37e1defc93
                <li class="list-group-item" data-id="{{this.id}}">
                  <a href="task/{{this.id}}">{{this.description}}</a>
                  <button class="btn btn-danger btn-sm float-right move">✔</button>
                 </li>
<<<<<<< HEAD
=======
                 {{/if}}
>>>>>>> 9e297e7b0ea868e5d157f572c1560e37e1defc93
                {{/each}}
              </ul>
            </div>

          </div>
          <div class="col-md-4 col-xs-1 managerCol">
            <div class="card" style="width: 18rem;">
              <img src="images/pending.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Open Company Tasks</h5>
                <p class="card-text">Tasks that still need to be completed by end of day.</p>
              </div>
              <ul id="pendingTask-list" class="list-group list-group-flush list-group">
                {{#each Tasks}}
                {{#unless completed}}
                <li class="list-group-item" data-id="{{this.id}}">
                  <a href="task/{{this.id}}">{{this.description}}</a>
                  <button class="btn btn-default btn-sm float-right move pendingBtn">✔</button>
                </li>
                {{/unless}}
                {{/each}}
<<<<<<< HEAD
=======
    
>>>>>>> 9e297e7b0ea868e5d157f572c1560e37e1defc93
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-xs-1 managerCol">
            <div class="card" style="width: 18rem;">
              <img src="images/completed.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Completed Tasks </h5>
                <p class="card-text">Tasks that been marked as completed</p>
              </div>
              <ul id="completedTask-list" class="list-group list-group-flush list-group">
                {{#each Tasks}}
                {{#if completed}}
               <li class="list-group-item completed" data-id="{{this.id}}">
                  <a href="task/{{this.id}}">{{this.description}}</a>
                   <a href="task/{{this.id}}" id="assignedName">{{this.name}}</a>
                  {{!-- <button class="btn btn-danger btn-sm float-right delete">✔</button> --}}
                </li>
                {{/if}}
                {{/each}}
              </ul>
            </div>
          </div>
        </div>

      </div>

      <div class="container ">
        <div id="taskZoom" class="row addTaskRow">
          <div class="col-6 addTaskandUser">
            <div class="card " style="background-color: rgb(238, 236, 236);">
              <div class="card-body">
                <h3 class="addTask">Add a new task below:</h3>
                <hr>
                <form class="clearfix mb-4" action="POST">
                  <div class="form-group">
                    {{!-- <label for="name-text">Assign Task To:</label>
                    <input type="text" id="name-text" class="form-control" aria-describedby="name-text"
                      placeholder="Employee Name"> --}}
                    <label for="UserId">Employee List:</label>
                    <select class="form-control" id="UserId">
                      {{!-- insert for each grabbing all users  --}}
                      {{#each User}}
                      <option UserId= "{{this.id}}">{{this.username}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="example-description">Description of Task:</label>
                    <textarea class="form-control" id="example-description" aria-describedby="example-description"
                      placeholder="ex. Distribute company newsletter"></textarea>
                  </div>
                  <button id="submit" class="btn btn-default float-right">Add Task</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="row addTaskRow">
          <div class="col-6 addTaskandUser">
            <div class="card" id="userAdded" style="background-color: rgb(238, 236, 236);">
              <div class="card-body ">
                <h3 class="addTask" id="addUser">Add a new user below:</h3>
                <hr>
                <form class="clearfix mb-4" action="/api/users/register2" method="post" id="registerForm">
                  <div>
                    <label>Username:</label><br>
                    <input type="text" name="username" />
                  </div>
                  <div>
                    <label>Password:</label><br>
                    <input type="password" name="password" />
                  </div>
                  <div>
                    <label>Display Name:</label><br>
                    <input type="text" name="displayName" />
                  </div>
                  <div>
                    <label>Email:</label><br>
                    <input type="email" name="email" />
                  </div>
                  <div>
                    <label>Enter secret code to make this a manager login:</label>
                    <input type="text" name="secret" />
                  </div>
                  <div>
                    <input type="submit" value="Create User" class="btn btn-rounded waves-effect btn-default"
                      style="color:white !important;" />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="/js/index.js"></script>